@import "variables";
// Calculate
.calculate-section {
    background-color: #24273a;
    background-repeat: no-repeat;
    // Calculate title
    .section-title {
        color: $white-color;
    }
    @media only screen and (max-width: 600px) {
        .section-title {
            margin-bottom: 20px;
        }
    }
    @media only screen and (min-width: 600px) {
        .section-title {
            margin-bottom: 20px;
        }
    }
    @media only screen and (min-width: 768px) {
        .section-title {
            margin-bottom: 32px;
        }
    }
    @media only screen and (min-width: 992px) {
        .section-title {
            margin-bottom: 32px;
        }
    }
    // Calculate text
    .section-text {
        color: #ffffff !important;
    }
    @media only screen and (max-width: 600px) {
        .section-text {
            margin-bottom: 20px;
        }
    }
    @media only screen and (min-width: 600px) {
        .section-text {
            margin-bottom: 20px;
        }
    }
    @media only screen and (min-width: 768px) {
        .section-text {
            margin-bottom: 32px;
        }
    }
    @media only screen and (min-width: 992px) {
        .section-text {
            margin-bottom: 32px;
        }
    }
    // Calculate button
    @media only screen and (max-width: 600px) {
        .btn-one {
            margin-bottom: 20px;
        }
    }
    @media only screen and (min-width: 600px) {
        .btn-one {
            margin-bottom: 20px;
        }
    }
}

// Background Image
@media only screen and (max-width: 600px) {
    .calculate-section {
        background-image: url(../assets/img/calculate-bg-sm.svg);
        background-position: 30px 61%;
        background-size: 75%;
    }
    .calculate-img-wrapper {
        width: 80% !important;
        margin: 0 auto !important;
    }
}

@media only screen and (min-width: 768px) {
    .calculate-section {
        background-image: url("../assets/img/calculate-bg-md.svg");
        background-position: 32% 55%;
        background-size: 60%;
    }
    .calculate-img-wrapper {
        margin-top: 5rem !important;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .calculate-section {
        background-image: url("../assets/img/arrow-bg.svg");
        background-position: 42% 85%;
        background-size: auto;
    }
    .calculate-img-wrapper {
        margin: 0 !important;
        width: 100%;
        margin: 0 auto;
        // display: flex;
        // justify-content: center;
    }
}