@import "variables";
.footer-logo-text {
    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    margin-left: 10px;
}

.footer-widget-wrapper {
    border-bottom: 1px solid #D7D7D7;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-widget-title {
    margin-bottom: 30px;
}

.copyright {
    padding: 30px 0;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .footer-logo-wrapper-top {
        text-align: center;
        .footer-logo {
            justify-content: center;
        }
        p {
            width: 90%;
            margin: 0 auto;
        }
    }
    .footer-widget-wrapper {
        text-align: center;
    }
    .footer-widget-title {
        margin-bottom: 20px;
    }
    .footer-widget {
        margin-bottom: 40px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .footer-logo-wrapper-top {
        text-align: center;
        .footer-logo {
            justify-content: center;
        }
        p {
            width: 45%;
            margin: 0 auto;
        }
    }
    .service,
    .follow-us {
        float: right;
    }
    .footer-widget {
        margin-bottom: 40px;
    }
    .footer-widget-title {
        margin-bottom: 20px;
    }
    .footer-widget-wrapper {
        width: 90%;
        margin: 0 auto !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    // .footer-logo-wrapper-top {
    //     text-align: left;
    //     .footer-logo {
    //         justify-content: start;
    //     }
    //     p {
    //         width: 100%;
    //         margin: 0 auto;
    //     }
    // }
    .footer-widget-wrapper {
        width: 100%;
        margin: auto !important;
    }
    .service,
    .follow-us {
        float: left;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}