@import "variables";
.service-section {
    background: $white-color;
    background-image: url("../assets/img/service-bg.svg");
    background-position: -20% 10%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.service-icon-wrapper {
    .service-icon {
        background-color: #ffffff !important;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 56px rgba(237, 80, 46, 0.06) !important;
    }
}

.section-title {
    margin-bottom: 10px;
}

.service-title {
    font-weight: 400;
    color: #1a1a1a;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .service-img-wrapper {
        margin-bottom: 25px;
    }
    .service-text {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .service-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
    }
    .service-section {
        background-image: url("../assets/img/service-bg-md.svg");
        background-position: 0% 33%;
        background-size: 96%;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .service-text-wrapper {
        margin-bottom: 30px;
    }
    .service-img-wrapper {
        width: 90%;
        margin: 0 auto 30px auto;
    }
    .service-title {
        font-weight: bold;
        font-size: 34px;
        line-height: 42px;
    }
    .service-section {
        background-image: url("../assets/img/service-bg-md.svg");
        background-position: 0% 28%;
        background-size: 85%;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .section-text {
        margin-bottom: 10px;
    }
    .delivery-text {
        margin-bottom: 0 !important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}