// Font Family
$font-dmSans: 'DM Sans',
sans-serif;
$font-redRose: 'Red Rose',
cursive;
// colors
$primary-color: #ED502E;
$secondary-color: #455A64;
$tertiary-color: #6C7D85;
$black-color: #1A1A1A;
$white-color: #FFFFFF;
// Text Colors
$title-color: #455A64;
$text-color: #6C7D85;
$text-color2: #1A1A1A;
$text-color3: #E7E7E7;
// Button Color
$button-color: #ED502E;
$border-color: #ED502E;
// BG Colors
$bg1: #E5E5E5;